<div class="jumbotron">
	<h1>Bienvenido a <%= title %></h1>
	<h2>El portal donde podrá crear sus propios juegos!</h2>
	<a class="btn btn-lg btn-primary" href="/quizes" role="button">Empezar »</a>
</div>
<footer style="margin: 0px">
	<h4>No estás inspirado? Aquí tienes un poco de sabiduría aleatoria (a la par que inútil): </h4>
	<p><%= NumberFact%></p>
	<p><%= CNFact%></p>
</footer>