<div class="jumbotron">
<h1>Editar información de la cuenta: </h1>

<form method="post" action="/user/<%=user.id%>?_method=put">
<% include _form.ejs %>
</form>
<form method="post" action="/user/<%=user.id%>?_method=delete">
	<button class="btn  btn-danger" type="submit" onClick="return confirm('Borrar cuenta: <%=user.username%>);">
	Eliminar cuenta
	</button>
</form>
</div>