<div class="jumbotron">
<h1>Edite la pregunta </h1>
<form  class="form-horizontal" role="form" method="post" 
		action="/quizes/<%= quiz.id %>?_method=put" 
		enctype="multipart/form-data">
	<% include form.ejs %>
</form
</div>