<label for="preg" class="rem">Pregunta:</label>
<input typpe="text" id="preg" name="quiz[pregunta]" value="<% quiz.pregunta %>" /> <p>
<label for="resp" class="rem">Respuesta:</label>
<input typpe="text" id="resp" name="quiz[respuesta]" value="<% quiz.respuesta %>" /> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar"/>