<div class="jumbotron">
<h1>Añadir pregunta</h1>
<form method="post" 
	action="/quizes/create"
	enctype="multipart/form-data" class="form-horizontal" role="form">
	<% include form.ejs %>
</form>
</div>